<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projeto academy</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div th:replace="~{fragments/fragment::header}"></div>
	<div class="container mt-5 min-vh-75">
	<h2>+ Inserir Projeto</h2>
	<hr> <br>
		<form action="">
			<label class="form-label">Título do projeto</label>
			<input class="form-control" placeholder="Digite título para o projeto">
			<label class="form-label">Resumo</label>
			<textarea rows="4" class="form-control" placeholder="Digite o resumo do seu projeto"></textarea>
			<label class="form-label">Palavras chaves</label>
			<select class="form-select">
			
			</select>
			
			<input type="submit" value="Submeter" class="mt-3 btn btn-primary">
		</form>
	</div> <br>
		
	<div th:replace="~{fragments/fragment::footer}"></div>
	
<script src="/webjars/jquery/3.6.3/jquery.min.css"></script>
<script src="/webjars/bootstrap/css/bootstrap.bundle.min.js"></script>
</body>
</html>